<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="PrimaryUsername" value="BtcMyFineUserForTesting"/>
    <add key="PrimaryPassword" value="sdfaf5143gEAD"/>
    <add key="PrimaryServerIp" value="http://localhost.:8332"/>
  </appSettings>
</configuration>
